@import '../../assets/sass/main.scss';

.region-select {
  cursor: pointer;
  position: relative;
  @include nunita;
  padding: 1em 1.2em 1em 1.7em;
  transition: $smooth;

  &__menu {
    @include flex-align-center;
    justify-content: space-between;

    i {
      font-size: 0.6em;
    }
  }
}

.region-select__menu__list,
.region-select {
  background: $dark-blue;
  width: 14em;
  border-radius: 5px;
  color: $very-light-gray;
  box-shadow: $shadow;
}
.region-select__menu__title,
.region-select__menu__list__item {
  font-size: 0.85em;
  margin-top: 0.2em;
  width: 100%;
}

.region-select__menu__list__item {
  padding: 0.5em;
  margin: 0.1em;
  span {
    margin-left: 1.5em;
  }
  &:hover {
    background: $very-dark-blue;
  }
  &:hover,
  .text {
    background: $dark-gray;
  }
}
.region-select__menu__list {
  position: absolute;
  top: 113%;
  left: 0%;
  list-style: none;
  z-index: 1;
}

@media (max-width: 768px) {
  .region-select {
    width: 40%;
  }
  .region-select__menu__list {
    width: 100%;
  }
}

@media (max-width: $mobile) {
  .region-select {
    width: 60%;
  }
}
