@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

$dark-blue: #2b3945;
$very-dark-blue: #202c37;
$very-dark-blu: #111517;
$dark-gray: #858585;
$very-light-gray: #fafafa;
$white: #ffffff;

$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

$shadow: 1px 2px 12px 0px #272727;

.light {
  .text {
    color: $dark-blue;
  }
  .background {
    background: $very-light-gray;
    transition: all 0.2s ease-in-out;
  }
  input[type='text']::placeholder {
    color: $dark-blue;
  }
  .background-dark {
    background: $dark-blue;
  }
  .background-component {
    background: $white;
    box-shadow: 1px 2px 12px 0px #dddcdc;
  }
}
