@import '../../assets/sass/main.scss';

.search-bar {
  @include flex-align-center;
  gap: 1.5em;
  padding: 1em 2em;
  border-radius: 5px;
  width: 30em;
  background-color: $dark-blue;
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.49);

  input {
    @include nunita($w: 600);
    background: none;
    outline: none;
    border: none;
    width: 30em;
  }
  input[type='text']::placeholder,
  input,
  i {
    color: $very-light-gray;
  }
}
