@import '../../assets/sass/main.scss';

.country-info-wrapper {
  background: $very-dark-blue;
  @include flex-justify-center;
  min-height: calc(100vh - 6em);
}
.country-info {
  width: $desktop;
  padding: 6em 4em;

  &__about {
    @include flex-center-all;
    margin-top: 4em;
    position: relative;

    &__flag,
    &__desc {
      flex: 6;
    }
    &__flag {
      img {
        width: 90%;
      }
    }

    .country-desc-wrapper {
      width: 80%;
    }

    &__desc {
      @include nunita;
      display: flex;
      justify-content: flex-end;
      color: $white;
      h3 {
        font-size: 2em;
        margin-bottom: 1em;
      }
    }
    .country-details {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2.5em;
      ul {
        list-style: none;
        li {
          margin: 0.5em 0;
          font-weight: 600;
          span {
            font-weight: 300;
          }
        }
      }
    }
  }
  &__btn {
    @include flex-center-all;
    @include nunita;
    gap: 0.7em;
    background: $dark-blue;
    padding: 0.7em 3em;
    width: 10em;
    border-radius: 5px;
    color: $white;
    transition: $smooth;
    cursor: pointer;
    &:hover {
      box-shadow: 1px 2px 12px 0px #999898;
      transform: scale(1.05);
    }
  }
}

.country-borders {
  @include flex-align-center;
  flex-wrap: wrap;
  gap: 0.8em;
}
.border-wrapper {
  transition: $smooth;
  cursor: pointer;
  &:hover {
    transform: scale(1.08);
  }
  a {
    color: $white;
  }
}
.countries-spinner {
  @include absolute-center;
  top: 15%;
}

@media (max-width: $tablet) {
  .country-info-wrapper {
    height: 100%;
  }
  .country-info {
    &__about {
      gap: 4em;
      flex-direction: column;

      &__flag {
        width: 100%;
        text-align: center;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &__desc {
        h3 {
          font-size: 1.7em;
          margin-bottom: 0.4em;
        }
        width: 100%;
        margin-left: 0;
        justify-content: center;
        font-size: 0.8em;
      }
      .country-desc-wrapper {
        width: 100%;
      }
      .country-details {
        gap: 0.8em;
        flex-direction: column;
        ul {
          li {
            margin: 1.4em 0;
          }
        }
      }
    }
    &__btn {
      font-size: 0.75em;
    }
  }
  .country-borders {
    gap: 1em;
  }
  .country-borders__title {
    width: 100%;
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: 600;
  }
}

@media (max-width: $mobile) {
  .country-info {
    padding: 3em 2em;
  }
}
