@import '../../assets/sass/main.scss';
.header-wrapper {
  color: $white;
  background: $dark-blue;
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.49);
  z-index: 1;

  @include flex-justify-center;
  .header {
    // width: 75%;
    width: $desktop;
    padding: 2em 5em;
    @include flex-align-center;
    justify-content: space-between;

    &__title {
      @include nunita($w: 800);
      font-size: 1.5em;
    }
    &__theme-picker {
      @include nunita($w: 600);
      @include flex-center-all;
      gap: 0.5em;
    }
  }
}
