@import '../../assets/sass/main.scss';
.header-wrapper {
  color: $white;
  background: $dark-blue;
  z-index: 1;
  box-shadow: $shadow;

  @include flex-justify-center;
}
.header {
  width: $desktop;
  padding: 2em 5em;
  @include flex-align-center;
  justify-content: space-between;

  &__title {
    @include nunita($w: 800);
    font-size: 1.5em;
  }
  &__theme-picker {
    @include nunita($w: 600);
    @include flex-center-all;
    gap: 0.5em;
  }
}

@media (max-width: $tablet) {
  .header {
    padding: 2em 1.5em;
    &__title {
      font-size: 0.9em;
    }
    &__theme-picker {
      font-size: 0.75em;
    }
  }
}
