@import '../../assets/sass/main.scss';

.countries-wrapper {
  height: calc(100vh - 5.97em);
  background: $very-dark-blue;
  @include flex-justify-center;
}
.countries {
  padding: 3em 4em;
  width: $desktop;
  &__filters {
    @include flex-align-center;
    justify-content: space-between;
  }
}
