@import '../../assets/sass/main.scss';

.countries-wrapper {
  background: $very-dark-blue;
  @include flex-justify-center;
}
.countries {
  padding: 3em 4em;
  width: $desktop;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__filters {
    @include flex-align-center;
    justify-content: space-between;
  }
  &__card-container {
    @include flex-align-center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3.3em;
    padding: 3em 0;
  }
}
