@import '../../assets/sass/main.scss';

a {
  text-decoration: none;
}

.country-card {
  @include flex-center-all($direction: column);
  justify-content: space-between;
  height: 22.5em;
  width: 17.5em;
  color: $white;
  background: $dark-blue;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: $shadow;

  &:hover {
    transform: scale(1.05);
  }

  @include nunita;
  &__image {
    height: 48%;
    width: 100%;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__info {
    height: 52%;
    padding: 1.6em 2em 2em 1.5em;
    align-self: flex-start;
    h4 {
      margin-bottom: 1em;
      font-size: 1.05em;
    }
    ul {
      font-size: 0.83em;
      list-style: none;
      li {
        margin: 0.4em 0;
        span {
          font-weight: 600;
        }
      }
    }
  }
}
